/* Bootstrap overrides */
.list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.list-group-item:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.breadcrumb {
  margin-bottom: 0;
}

.pagination a {
  cursor: pointer;
}

/* Generic */
.row-loose {
  padding-top: 10px;
  padding-bottom: 10px;
}

.breadcrumb a {
  color: #f12f23;
}


/* Header */
#header .row {
  padding: 10px 0;
}

#header-logo {
  background: url("../images/header_mosaic.png") no-repeat scroll -101px 0 #E5E8E9;
}

#header-nav {
  background-color: #229BD8;
}

/* Category list */
#category-list a {
  font: bold 20px Helvetica;
  color: #797C7F;
}

#category-list li:hover {
  background-color:#3FC7F8;
}

#category-list li:hover a {
  color: #FFFFFF;
  text-decoration: none;
}

/* Product list */
#product-list .list-group-item.even {
  background-color: #e5e8e9;
}

#product-list .product-name {
  color: #f12f23;
  text-decoration: underline;
}

/* Product detail */
.product .product-image {
  height: 67px;
  width: 67px;
}

.product-action {
  background-color: #E5E8E9;
}

.product-action .product-button {
  padding-top: 3px;
}

.product-action .product-info {
  padding-top: 10px;
  line-height: 20px;
}

#product-detail .product-name {
  color: ##444;
}

.product .product-short-description {
  font-size: 12px;
}

/* Order summary */
.order-summary {
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  padding: 50px 60px;
  margin-bottom: 30px;
  font-size: 21px;
  font-weight: 200;
  line-height: 2.1428571435;
}
