/* Bootstrap overrides */
.list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.list-group-item:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.breadcrumb {
  margin-bottom: 0;
}

.pagination a {
  cursor: pointer;
}

/* Header */
#header .row {
  padding: 10px 0;
}

#header-logo {
  background: url("../images/header_mosaic.png") no-repeat scroll -101px 0 #E5E8E9;
}

#header-nav {
  background-color: #229BD8;
}

/* Category list */
#category-list a {
  font: bold 20px Helvetica;
  color: #797C7F;
}

#category-list li:hover {
  background-color:#3FC7F8;
}

#category-list li:hover a {
  color: #FFFFFF;
  text-decoration: none;
}

/* Product list */
#product-list .list-group-item.even {
  background-color: #e5e8e9;
}

#product-list .product-image {
  height: 67px;
  width: 67px;
}

#product-list .product-description {
  color: #f12f23;
  text-decoration: underline;
}

#product-list .product-short-description {
  font-size: 12px;
}

.product-image {
  height: 200px;
  width: 200px;
}
