<ul class="breadcrumb simple">
  <li class="active">{{categoryId}}</li>
</ul>

<p ng-hide="products.length">Loading products...</p>

<ul id="product-list" class="list-group" ng-show="products.length">
  <li class="list-group-item" ng-repeat="product in products" ng-class-odd="'odd'" ng-class-even="'even'">
    <div class="row product">
      <div class="col-2">
        <img ng-src="{{product.image.url}}" alt="{{product.name}}" class="product-image">
      </div>

      <div class="col-10">
        <a ng-href="#/categories/{{categoryId}}/products/{{product.product_id}}" class="product-name">
          <strong>{{product.name}}</strong>
        </a>
        <div class="product-short-description">
          {{product.short_description}}
        </div>
        <div class="product-btc-price">
          {{product.special_price | number:2}} BTC
        </div>
        <div class="product-price">
          <strong>&#36;{{product.price | number:2}}</strong>
        </div>
      </div>
    </div>
  </li>
</ul>
