<ul class="breadcrumb">
  <li class="active">{{category}}</li>
</ul>

<div class="panel">
  <p ng-hide="products.length">Loading products...</p>
  <table ng-show="products.length" class="table table-hover table-condensed">
    <tr>
      <th>Name</th>
      <th>Description</th>
    <tr ng-repeat="product in products">
      <td><a href="#/categories/{{category}}/products/{{product.entity_id}}">{{product.name}}</a></td>
      <td>{{product.short_description}}</td>
    </tr>
  </table>

  <ul class="pagination">
    <li ng-class="{active: currentPage == 1}">
      <a href="#/categories/{{category}}/products/{{product.entity_id}}?page={{currentPage - 1}}">&laquo;</a>
    </li>
    <li class="active">
      <a>{{currentPage}}</a>
    </li>
    <li>
      <a href="#/categories/{{category}}/products/{{product.entity_id}}?page={{currentPage + 1}}">&raquo;</a>
    </li>
  </ul>
</div>
